commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/100_delayed_job_restart.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://leo-scripts.s3.amazonaws.com/100_delayed_job_restart.sh
