files:
  /var/app/ondeck/certificate.pem:
    mode: "000777"
    owner: root
    group: root
    source: https://s3.amazonaws.com/leo-certificates/certificate.pem
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: leo-certificates
