files:
  /home/ec2-user/certificate.pem:
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: https://s3.amazonaws.com/leo-certificates/certificate.pem
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: leo-certificates
container_commands:
  00_move:
    command: "mv /home/ec2-user/certificate.pem /var/app/ondeck/certificate.pem"
    ignoreErrors: true

