files:
  "/var/app/current":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: https://s3.amazonaws.com/leo-certificates/certificate.pem
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: api-s3
          buckets: leo-certificates
