body {
    font-family: AvenirNext-Regular;
    max-width: 612pt;
    margin: 0;
}

header {
    background-color: rgb(255, 95, 64);
    color: white;
    padding: 7pt 21pt 18pt 17pt;
}

.name {
    font-family: AvenirNext-Medium;
    font-size: 30pt;
    float: right;
    height: 41pt;
    padding-bottom: 6pt;
}

header table {
    float: left;
    width: 450pt
}

header th {
    display: inline-block;
    text-align: left;
    font-family: AvenirNext-Bold;
}

.img-circle {
    width: 99pt;
    height: 99pt;
    /*float: right;*/
    border-radius: 50%;
    border: 4pt solid white;
    position: absolute;
}

.intro {
    font-size: 30pt;
    color: rgb(87, 87, 87);
    margin-top: 49pt;
    padding: 4pt 0 3pt 0;
}

.intro p{
    margin: 0;
    display: inline-block;
    width: 186pt;
    height: 82pt;
}

.colored-bullet {
    float: left;
    background-color: rgb(255, 95, 64);
    width: 10pt;
    height: 75pt;
    display: inline-block;
    margin-right: 21pt;
}

.content {
    padding: 0 31pt 0 31pt;
    margin-top: 29pt;
    font-size: 15pt;
    color: rgb(155, 155, 155);
}

.vaccines{
    padding: 35pt 31pt 0 31pt;
    font-size: 15pt;
    border-collapse:separate;
    color: rgb(155, 155, 155);
}

.vaccines th{
    font: inherit;
    padding-bottom: 28pt;
}

.vaccines .title-left{
    text-align: left;
    width: 424pt;
}

.vaccines .title-right{
    text-align: right;
    width: 126pt;
}

.vaccines .vaccines-left{
    padding-bottom: 1pt;
    font-family: AvenirNext-DemiBold;
    text-align: left;
    color: rgb(87, 87, 87);
}

.vaccines .vaccines-left-second{
    padding-bottom: 15pt;
    font-size: 12pt;
    color: rgb(155, 155, 155);
}

.vaccines .vaccines-right{
    font-size: 12pt;
    text-align: right;
}

#first-page{
    height: 400pt;
}

.middle-pages{
    height: 660pt;
    position: relative;
}

.middle-header{
    padding-bottom: 0;
}

.practice{
    position: absolute;
    bottom: 10pt;
    right: 31pt;
}

.practice th {
    font-family: AvenirNext-Bold;
    text-align: right;
    padding-right: 22pt;
}

.practice td {
    color: rgb(155, 155, 155);
}

footer {
    color: rgb(155, 155, 155);
    padding: 0 31pt 0 31pt;
    font-size: 12pt;
    page-break-after: always;
}

footer .left {
    width: 59.8pt;
    height: 24.8pt;
    float: left;
}

footer .right {
    padding-top: 14pt;
    float: right;
}

footer .middle {
    padding-top: 14pt;
    display: inline-block;
    margin-left: 131pt;
}
