<!DOCTYPE html>
<html>
    <head>
      <meta charset='utf-8' />
      <%= wicked_pdf_stylesheet_link_tag "vaccines_pdf" %>
    </head>
    <body>
        <% page_total = vaccines.count %>
        <% count = 1 %>
        <%while page_total >= 0 do%>
            <% if count == 1 %>
                <%= Tilt::ERBTemplate.new(Rails.root.join('app', 'views', 'vaccines', 'first_page.html.erb')).render(self, count: 1)%>
                <% page_total -= 6 %>
                <% count += 1 %>
            <% else %>
                <%= Tilt::ERBTemplate.new(Rails.root.join('app', 'views', 'vaccines', 'middle_page.html.erb')).render(self, count: 2)%>
                <% page_total -= 10 %>
                <% count += 1%>
            <% end %>
        <% end %>
    </body>
</html>
